body{
    margin: 0;
    color: black;
    overflow-x: hidden;
}

header{
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    position: relative;
}

.sanduiche{
    width: 18px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    left: 20px;
}

.barrinha{
    width: 18px;
    height: 2px;
    background-color: #0164Bf;
}

nav{
    width: 83%;
    display: none;
    justify-content: space-around;
    align-items: center;
}

nav a{
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 60px;
    color: #555;
}

nav>div:first-child{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav>div:last-child{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.divisoria{
    width: 1px;
    height: 30px;
    background-color: gray;
}

.ligue{
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ligue>span{
    margin: 0px 8px;
}

section{
    width: 100vw;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(233, 233, 233);
}

section>div{
    width: 90%;
}

.cardList{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2{
    font-weight: 400;  
    font-size: 24px;
    color: #333;
    line-height: 30px;
}

.card{
    width: 300px;
    height: 348px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #fff;
    position: relative;
}

.linkCard{
    width: 300px;
    height: 348px;
    position: absolute;
    z-index: 1;
}

.cardInfo{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.cardInfo p,h3{
    width: 90%;
    margin: 5px 0px 5px;
    text-justify: start;
}

.tipoDePassagem{
    display: block;
    font-size: 14px;
    color: #7d7d7d;
}

.data{ 
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgb(58, 57, 57);
}

.idaEVolta{
    border: 1px solid gray;
    padding: 0 5px;
    color: #7d7d7d;
}

.cardInfo>p:nth-child(3){
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #555;
}

.preço{
    font-size: 20px;
    color: orange;
}

.empresaAerea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 18px;
    bottom: 55px;
}

.empresaAerea>img{
    width: 35px;
}

.nomeDaEmpresaAerea{
    text-align: center;
    font-size: 11px;
    color: #7d7d7d;
}

.ultimoP{
    color: #777;
    font-size: 13px;
    font-weight: 700;
}

.compra{
    margin: 0 0 15px;
    text-align: center;
    width: 90%;
    height: 35px;
    color: white;
    background-color: #0164Bf;
    text-decoration: none;
    font-size: 18px;
    line-height: 35px;
    border-radius: 3px;
}1